<html>
<head>
    <title>Account - <%= result[0].account_id %></title>
</head>
<body>
    <h1>Account</h1>
    <ul>
        <li>School ID: <%= result[0].account_id%></li>
        <li>School Name: <%= result[0].email %></li>
        <li>Address ID: <%= result[0].first_name %></li>
    </ul>
</body>

</html>