<html>
<head>
    <title>Add New School</title>
</head>
<body>
<h1>Add New Resume</h1>
<form action="/resume/insert" method="get">
    Resume Name: <input id="resume_name" name="resume_name" type="text" />
    <br />
    <br />
    Account
    <select id="account_id" name="account_id">
        <% for(var i=0; result.length > i; i++ ) { %>
        <option value="<%= result[i].account_id %>"><%= result[i].email + ', ' + result[i].first_name %></option>
        <% } %>
    </select>

    <input type="submit" />

</form>
</body>

</html>