<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/school/resumeViewById">Schools - View All</a> <br />
    <a href="/Resume/all">Resume - View All</a> <br />
    <a href="/school/all">Account - View All</a> <br />
    <a href="/school/all">Company - View All</a> <br />
    <a href="/school/all">Address - View All</a> <br />



    <br />

  </body>
</html>
