<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/school/all">Schools - View All</a> <br />
    <a href="/resume/all">Resume - View All</a> <br />
    <a href="/account/all">Account - View All</a> <br />
    <a href="/company/all">Company - View All</a> <br />
    <a href="/address/all">Address - View All</a> <br />



    <br />

  </body>
</html>
