<html>
<head>
    <title>company - <%= result[0].company_name %></title>
</head>
<body>
    <h1>company</h1>
    <ul>
        <li>company ID: <%= result[0].company_id%></li>
        <li>company Name: <%= result[0].company_name %></li>
    </ul>
</body>

</html>