<html>
<head>
    <title>Address - <%= result[0].street %></title>
</head>
<body>
    <h1>Address</h1>
    <ul>
        <li>Address ID: <%= result[0].address_id%></li>
        <li>Street: <%= result[0].street %></li>
        <li>Zip Code: <%= result[0].zip_code %></li>
    </ul>
</body>

</html>