<html>
    <head>
        <title>Address</title>
    </head>
    <body>
        <h1>Address</h1>
        <table border="1">
            <tr><th>Address ID</th><th>street</th><th>zip code</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><%= result[i].address_id%></td>
                <td><a href="/address/?address_id=<%= result[i].address_id %>"><%= result[i].street %></a></td>
                <td><%= result[i].zip_code %></td>
            </tr>
            <% } %>
        </table>
    </body>

</html>