<html>
    <head>
        <title>Schools</title>
    </head>
    <body>
        <h1>Schools</h1>
        <table border="1">
            <tr><th>School ID</th><th>Name</th><th>address_id</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><%= result[i].school_id%></td>
                <td><a href="/school/?school_id=<%= result[i].school_id %>"><%= result[i].school_name %></a></td>
                <td><%= result[i].address_id %></td>
            </tr>
            <% } %>
        </table>
    </body>

</html>