<html>
<head>
    <title>Add New School</title>
</head>
<body>
<h1>Add New School</h1>
<form action="/school/insert" method="get">
    School Name: <input id="school_name" name="school_name" type="text" />
    <br />
    <br />
    Address
    <select id="address_id" name="address_id">
        <% for(var i=0; result.length > i; i++ ) {  %>

        <option value="<%= result[i].address_id %>"><%= result[i].street + ', ' + result[i].zip_code %></option>
        <% } %>
    </select>

    <input type="submit" />

</form>
</body>

</html>