<html>
<head>
    <title>Schools - <%= result[0].school_name %></title>
</head>
<body>
    <h1>Schools</h1>
    <ul>
        <li>School ID: <%= result[0].school_id%></li>
        <li>School Name: <%= result[0].school_name %></li>
        <li>Address ID: <%= result[0].address_id %></li>
    </ul>
</body>

</html>